################################################################################
# Kitten Git Ignore
################################################################################


.idea
*.csv
/kitten/lib/mouseTrack/__pycache__/*
.DS_Store
