################################################################################
# Kitten Git Ignore
################################################################################

.ropeproject/
.idea
*.csv
