################################################################################
# Kitten Git Ignore
################################################################################


.idea
*.csv
/mouseTrack/__pycache__/*
.DS_Store
